Do time series prediction on Euro exchange data
Use arima model
Select any one currency(for eg indian rupee or canadian dollar)
1. Make data stationary
2. Visualiize TS components
3. Prediction using ARIMA with two different
Compare the two ARMIA models based on RMSE

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
# Read the data
df = pd.read_csv('./data/euro-daily-hist_1999_2022.csv')
df.head(10)

,Period\Unit:,[Australian dollar ],[Bulgarian lev ],[Brazilian real ],[Canadian dollar ],[Swiss franc ],[Chinese yuan renminbi ],[Cypriot pound ],[Czech koruna ],[Danish krone ],...,[Romanian leu ],[Russian rouble ],[Swedish krona ],[Singapore dollar ],[Slovenian tolar ],[Slovak koruna ],[Thai baht ],[Turkish lira ],[US dollar ],[South African rand ]
0,2023-05-26,1.6439,1.9558,5.3878,1.4630,0.9707,7.5874,NaN,23.648,7.4489,...,4.9572,NaN,11.5280,1.4520,NaN,NaN,37.2630,21.5340,1.0751,21.0148
1,2023-05-25,1.6443,1.9558,5.3320,1.4599,0.9708,7.5891,NaN,23.645,7.4502,...,4.9495,NaN,11.5490,1.4515,NaN,NaN,37.1540,21.3944,1.0735,20.7466
2,2023-05-24,1.6402,1.9558,5.3397,1.4600,0.9732,7.6005,NaN,23.671,7.4477,...,4.9614,NaN,11.5103,1.4526,NaN,NaN,37.1710,21.4487,1.0785,20.7479
3,2023-05-23,1.6282,1.9558,5.3649,1.4571,0.9718,7.6039,NaN,23.681,7.4475,...,4.9720,NaN,11.4494,1.4527,NaN,NaN,37.4350,21.3993,1.0779,20.7920
4,2023-05-22,1.6294,1.9558,5.4056,1.4618,0.9700,7.6067,NaN,23.676,7.4478,...,4.9737,NaN,11.3765,1.4554,NaN,NaN,37.2820,21.4629,1.0822,20.9137
5,2023-05-19,1.6231,1.9558,5.3554,1.4575,0.9738,7.5766,NaN,23.764,7.4481,...,4.9783,NaN,11.3695,1.4538,NaN,NaN,37.1690,21.4089,1.0808,20.8848
6,2023-05-18,1.6285,1.9558,5.3612,1.4568,0.9735,7.5983,NaN,23.683,7.4477,...,4.9708,NaN,11.3609,1.4544,NaN,NaN,37.1160,21.3964,1.0813,20.9693
7,2023-05-17,1.6273,1.9558,5.3728,1.4609,0.9746,7.5762,NaN,23.632,7.4476,...,4.9605,NaN,11.3250,1.4542,NaN,NaN,37.1060,21.3965,1.0829,20.8793
8,2023-05-16,1.6307,1.9558,5.3340,1.4652,0.9732,7.5793,NaN,23.675,7.4468,...,4.9478,NaN,11.2765,1.4545,NaN,NaN,36.9630,21.4425,1.0881,20.7496
9,2023-05-15,1.6261,1.9558,5.3431,1.4684,0.9747,7.5621,NaN,23.574,7.4471,...,4.9375,NaN,11.2905,1.4548,NaN,NaN,36.7720,21.3896,1.0876,20.7496

In [53]:
df.columns

Index(['Period\Unit:', '[Australian dollar ]', '[Bulgarian lev ]',
       '[Brazilian real ]', '[Canadian dollar ]', '[Swiss franc ]',
       '[Chinese yuan renminbi ]', '[Cypriot pound ]', '[Czech koruna ]',
       '[Danish krone ]', '[Estonian kroon ]', '[UK pound sterling ]',
       '[Greek drachma ]', '[Hong Kong dollar ]', '[Croatian kuna ]',
       '[Hungarian forint ]', '[Indonesian rupiah ]', '[Israeli shekel ]',
       '[Indian rupee ]', '[Iceland krona ]', '[Japanese yen ]',
       '[Korean won ]', '[Lithuanian litas ]', '[Latvian lats ]',
       '[Maltese lira ]', '[Mexican peso ]', '[Malaysian ringgit ]',
       '[Norwegian krone ]', '[New Zealand dollar ]', '[Philippine peso ]',
       '[Polish zloty ]', '[Romanian leu ]', '[Russian rouble ]',
       '[Swedish krona ]', '[Singapore dollar ]', '[Slovenian tolar ]',
       '[Slovak koruna ]', '[Thai baht ]', '[Turkish lira ]', '[US dollar ]',
       '[South African rand ]'],
      dtype='object')

In [54]:
df["Period\\Unit:"] = pd.to_datetime(df["Period\\Unit:"], format="%Y-%m-%d")
df = df.set_index("Period\\Unit:")
df.index.name = "Date"

In [57]:
#get all non numeric values from column [Indian rupee ]
df[df['[Indian rupee ]'] == '-']

,[Australian dollar ],[Bulgarian lev ],[Brazilian real ],[Canadian dollar ],[Swiss franc ],[Chinese yuan renminbi ],[Cypriot pound ],[Czech koruna ],[Danish krone ],[Estonian kroon ],...,[Romanian leu ],[Russian rouble ],[Swedish krona ],[Singapore dollar ],[Slovenian tolar ],[Slovak koruna ],[Thai baht ],[Turkish lira ],[US dollar ],[South African rand ]
Date,,,,,,,,,,,,,,,,,,,,,
2012-05-01,-,-,-,-,-,-,NaN,-,-,NaN,...,NaN,-,-,-,NaN,NaN,-,NaN,-,-
2012-04-09,-,-,-,-,-,-,NaN,-,-,NaN,...,NaN,-,-,-,NaN,NaN,-,NaN,-,-
2012-04-06,-,-,-,-,-,-,NaN,-,-,NaN,...,NaN,-,-,-,NaN,NaN,-,NaN,-,-
2011-12-26,-,-,-,-,-,-,NaN,-,-,NaN,...,NaN,-,-,-,NaN,NaN,-,NaN,-,-
2011-04-25,-,-,-,-,-,-,NaN,-,-,NaN,...,NaN,-,-,-,NaN,NaN,-,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-12-26,-,-,-,-,-,-,-,-,-,-,...,NaN,-,-,-,-,-,-,NaN,-,-
2000-12-25,-,-,-,-,-,-,-,-,-,-,...,NaN,-,-,-,-,-,-,NaN,-,-
2000-05-01,-,NaN,-,-,-,-,-,-,-,-,...,NaN,-,-,-,-,-,-,NaN,-,-
2000-04-24,-,NaN,-,-,-,-,-,-,-,-,...,NaN,-,-,-,-,-,-,NaN,-,-
2000-04-21,-,NaN,-,-,-,-,-,-,-,-,...,NaN,-,-,-,-,-,-,NaN,-,-

In [74]:
_temp = df[df['[Indian rupee ]'].str.isdigit()==False]

In [87]:
s1 = _temp['[Indian rupee ]'][0]

In [90]:
#check if s1 string is a number it can be a float containing decimal point
s1.isdigit()

False