In [76]:
import pandas as pd
from pathlib import Path
import shutil

In [69]:
#these dataframes are created using ImageFolder from pytorch to get paths and labels then using sklearn to split into train and validation with seed=42 and shuffle=True
train_df = pd.read_csv('data/train.csv')
validation_df = pd.read_csv('data/validation.csv')

In [68]:
train_df

,Unnamed: 0,image_path,label
0,1641,data/flower_photos/roses/15738649506_2b4c2fd93...,roses
1,689,data/flower_photos/dandelion/13897156242_dca5d...,dandelion
2,1664,data/flower_photos/roses/16152205512_9d6cb80fb...,roses
3,1555,data/flower_photos/roses/12406418663_af20dc225...,roses
4,2023,data/flower_photos/roses/5863698305_04a4277401...,roses
...,...,...,...
2931,2490,data/flower_photos/sunflowers/3568114325_d6b13...,sunflowers
2932,3486,data/flower_photos/tulips/6325571510_7544b27e5...,tulips
2933,2355,data/flower_photos/sunflowers/200557983_10a886...,sunflowers
2934,2790,data/flower_photos/sunflowers/821368661_4ab434...,sunflowers
2935,1154,data/flower_photos/dandelion/4558536575_d43a61...,dandelion

In [70]:
validation_df

     Unnamed: 0                                         image_path      label
0          1108  data/flower_photos/dandelion/3675486971_d4c868...  dandelion
1          1497  data/flower_photos/dandelion/8980266062_8387f6...  dandelion
2          1866  data/flower_photos/roses/3655527028_0fab2b547d...      roses
3           765  data/flower_photos/dandelion/14761980161_2d6db...  dandelion
4           389  data/flower_photos/daisy/4565255237_9ba29c4d4e...      daisy
..          ...                                                ...        ...
729         326  data/flower_photos/daisy/3711723108_65247a3170...      daisy
730        3403  data/flower_photos/tulips/485415743_eeb5d7c1a5...     tulips
731        3532  data/flower_photos/tulips/7166550328_de0d73cfa...     tulips
732        2004  data/flower_photos/roses/5497730366_44d758d8f5...      roses
733         392  data/flower_photos/daisy/459931395_24bf6531fe_...      daisy

[734 rows x 3 columns]

In [73]:
root_dir = Path('data')

In [75]:
for label in train_df['label'].unique().tolist():
    root_dir.joinpath('train', label).mkdir(parents=True, exist_ok=True)
for label in validation_df['label'].unique().tolist():
    root_dir.joinpath('validation', label).mkdir(parents=True, exist_ok=True)

In [78]:
#copy images to train folder
for path in train_df['image_path']:
    image_path = Path(path)
    label = image_path.parent.name
    image_name = image_path.name
    shutil.copy(path, root_dir.joinpath('train', label, image_name))

In [86]:
#copy images to validation folder
for path in validation_df['image_path']:
    image_path = Path(path)
    label = image_path.parent.name
    image_name = image_path.name
    shutil.copy(path, root_dir.joinpath('validation', label, image_name))